<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <p class="text-center">
        <h1>Welcome to the Quiz App</h1>
        </p>

        <div class="topnav">
            <a href="#home">Home</a><br>
            <a href="#catagories">Catagories</a><br>
            <a href="rules">Rules</a><br>
            <a href="#Review">Reviews</a><br>
        </div>
        </div>

</body>
<footer>
    <h1>Quiz Result</h1>
    <p>Your Score: out of </p>
    <a href="/quiz">Try Again</a>
</footer>

</html>