<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quiz App</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="quiz-container">
        <h1>Welcome to the Quiz App</h1>
    </div>
    <div class="container2">
        <ul class="quiz-options"></ul>
        <button id="next" style="display:none;">Next Question</button>
    </div>

</body>
<footer>
    <h1>Quiz Result</h1>
    <p>Your Score: out of </p>
    <a href="/quiz">Try Again</a>
    </footer>

</html>